<div class="padding">
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                    <h2>Auto Binary Signals Account</h2>
                    <small>Add your auto binary signals account here to start receiving signals
                    </small>
                </div>
                <div class="box-divider m-0"></div>
                <div class="box-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                   placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                   placeholder="Password">
                        </div>
                        <button type="submit" class="btn white m-b">Connect</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>