{{> sidebar }}
<!-- content -->
<div id="content" class="app-content box-shadow-z0" role="main">
    {{> header }}
    {{> footer }}
    <div ui-view class="app-body" id="view">

        <!-- ############ PAGE START-->
        {{> forms }}
        <!-- ############ PAGE END-->
    </div>
</div>
<!-- / -->